<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin/bootstrap.css">
    <title>{% block title %}  
      
      {% endblock %}</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/admin">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="/admin/tehsil">Təhsil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/admin/isler">İşlər</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/admin/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/admin/fikirler">Fikirlər</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/admin/contact">Əlaqə</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Çıxış</a>
              </li>
            </ul>
        </div>
      </nav>

      {% block head %}
      
      {% endblock %}

    <script src="../../static/admin/bootstrap.js"></script>
</body>
</html>