<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='admin/bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
    <form action="/admin/blog/update/{{blog.id}}" method="POST"  enctype = "multipart/form-data">
        <div class="mb-3" style="margin-top: 30px;">
            
            <input type="file" class="form-control"  id="formGroupExampleInput" name="blog-file" placeholder="image">
          </div>
          <div class="mb-3">
            
            <input type="text" class="form-control" value="{{blog.title}}" id="formGroupExampleInput2" name="blog-title" placeholder="title">
          </div> 
          <div class="mb-3">
            
            <input type="text" class="form-control" value="{{blog.text}}" id="formGroupExampleInput2" name="blog-text" placeholder="text">
          </div>
        
          <div class="mb-3">
            
            <input type="text" class="form-control" value="{{blog.text}}" id="formGroupExampleInput2" name="blog-link" placeholder="link">
          </div>
          
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          <br>
          <script src="../../static/admin/bootstrap.js"></script>
</body>
</html>