{% extends "./admin/base.html" %}

{% block title %}index{% endblock %}

{% block head %}
<form action="/admin/isler" method="POST"  enctype = "multipart/form-data" >
<div class="mb-3" style="margin-top: 30px;">
    
    <input type="file" class="form-control" id="formGroupExampleInput" name="isler-file" placeholder="image">
  </div>
  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput2" name="isler-date" placeholder="date">
  </div>

  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput2" name="isler-link" placeholder="link">
  </div>

  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput2" name="isler-text" placeholder="text">
  </div><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>  <Br>

<!-- table--- -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Text</th>
        
        
        
      </tr>
    </thead>
    <tbody>
      {% for is in isler %}
      <tr>
        <th>{{is.id}}</th>
        <td>{{is.text}}</td>
        <td>
            <a href="isler/delete/{{is.id}}">delete</a>
            <a href="isler/update/{{is.id}}">update</a>
        </td>
        
      </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
{% endblock %}