<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/admin/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <form action="/admin/tehsil/update/{{tehsil.id}}" method="POST"  enctype = "multipart/form-data">
        <div class="mb-3" style="margin-top: 30px;">
            
            <input type="file" class="form-control"  id="formGroupExampleInput" name="tehsil-file" placeholder="image">
          </div>
           
          <div class="mb-3">
            
            <input type="text" class="form-control" value="{{tehsil.text}}" id="formGroupExampleInput2" name="tehsil-text" placeholder="text">
          </div>
        
          <div class="mb-3">
            
            <input type="text" class="form-control" value="{{tehsil.link}}" id="formGroupExampleInput2" name="tehsil-link" placeholder="link">
          </div>
          
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          <br>
          <script src="../../static/admin/bootstrap.js"></script>
</body>
</html>