{% extends "./admin/base.html" %}

{% block title %}index{% endblock %}

{% block head %}  
<form action="/admin/tehsil" method="POST"  enctype = "multipart/form-data">
<div iclass="mb-3" style="margin-top: 30px;">
    
    <input type="file" class="form-control" id="formGroupExampleInput" name="tehsil-file" placeholder="image">
  </div>
  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput2" name="tehsil-link" placeholder="link">
  </div>

  <div class="mb-3">
    
    <input type="text" class="form-control" id="formGroupExampleInput2" name="tehsil-text" placeholder="text">
  </div> <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  
</form>
  <br>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">text</th>
        
        
      </tr>
    </thead>
    <tbody>

      {% for tehsil in tehsiller %}
      <tr>
        <th >{{tehsil.id}}</th>
        <td>{{tehsil.text}}</td>
        <td>
            <a href="tehsil/delete/{{tehsil.id}}">delete</a>
            <a href="tehsil/update/{{tehsil.id}}">update</a>
        </td>
        
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock %}