<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
   
    <link rel="stylesheet"  href="../../static/app/css/anasehife.css">
    <link rel="stylesheet" href="../../static/app/css/common.css">
    <link rel="stylesheet" href="../../static/app/css/responsive/anasehiferes.css">
    
    
    
   
    
    
    
    <link rel="shortcut icon" href="#">

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/3113ae62d0.js" crossorigin="anonymous"></script>

    
    <title>Document</title>
   

    


</head>
<body>
    <div class="wrapper">
  <div class="loader"></div>
</div>
  
   <div class="main">
       <!-- scroll -->
       <button onclick="topfunction()" class="top-to">
        <i class="fas fa-chevron-up"></i>
    </button>
        <!-- scroll -->
       <!-- header----------------------------- -->
       <header class="head_1" >
        <div class="logo"><img src="../../static/app/img/logomakr.png" alt="logo"></div>
        
        <div class="menu">
            
            
            <ul>
                <li><a href="/">Əsas Səhifə</a></li>
                <li><a href="/app/tehsil">Təhsil</a></li>
                <li><a href="/app/isler">İşlər</a></li>
                <li><a href="/app/blog">Blog</a></li>
                <li><a href="/app/fikirler">Fikirlər</a></li>
                <li><a href="/app/elaqe">Əlaqə</a></li>
            </ul>
         </div>
        
         <div class="burger">
           <div></div>
           <div></div>
           <div></div>
         </div>
        </header>
       <!-- header----------------------------- -->
      
       <div class="content">
          <div class="picture"><img src="../../static/app/img/profilepic.jpeg" alt="webdevelopment"></div>

          <div class="text">
              <p>Web developer</p>
              <h1>Rövşən Şahbazov</h1>

                <p>Salam mən Rövşən Şahbazov.İşimdə məsuliyyətli, rəqabəti sevən biriyəm. Daim yeni texnologiyaları öyrənib tətbiq edirəm. Programming sahəsində bacarıqlarımı artırmağı və yaradıcılığı sevirəm</p>
            </div>
          
       </div>
       

        <!-- what i do----------------------------- -->
        <div class="whatidotitle">
            <h2>Mən Nə Edirəm</h2>
        </div>
        
        
        <div class="whatido">
            <div class="whatidofront">
                <div class="iconfront"><img src="../../static/app/img/frontend.png" alt="icon"></div>
                <div class="textfront">
                    <h3>Front End</h3>
                    <p>İstənilən dizaynda, müxtəlif ölçülərdə cihazlar üçün(responsive) vebsaytlar hazırlayıram.Hazırladığım səhifələrin dinamik olmasına və layihələrin sürətlə yazılıb təhvil verilməsinə üstünlük verirəm</p>
                </div>
            </div>


            <div class="whatidoback">
                <div class="iconfront"><img src="../../static/app/img/backend.png" alt="icon"></div>
                <div class="textfront">
                    <h3>Back End kodlama</h3>
                    <p>Kiçik və orta ölçülü layihələri həyata keçirirəm. Database məlumatların yazılması,CRUD əməliyyatlarını həyata keçirirəm</p>
                </div>
            </div>
        </div>
<!-- what i do-------------------- -->
<!-- testimonial -->

<footer>
    <div class="footer">
        <ul>
            <li><a href="https://www.instagram.com/rovsen_melanxolik/">Instagram</a></li>
            <li><a href="https://github.com/Rovshen98">GitHub</a></li>
            <li><a href="https://www.youtube.com/channel/UCPgcTINfCGLdhPAz6PDc94A">YouTube</a></li>
        </ul>
    </div>
</footer> 


  
   </div>
   <!-- JavaScript Bundle with Popper -->
   <script src="../../static/app/javascript/common.js"></script>
</body>
</html>