/* html,body{
    height: 100vh;
} */
body{
    box-sizing: border-box;
    display: flex;
    background-color:#4CE065;
    justify-content:space-between;
    
}
label{
  color:  #5b76e4;
  font-weight: bold;
}
label:nth-child(1){
    padding-right: 10px;
    padding-left: 10px;
   text-align: center;
}
input{
    border: 1px solid  green;
    border-radius: 40px;
    width: 300px;
    height: 25px;
}
button{
    background-color:#5b76e4;
    color:white; 
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10%;
    width: 100px; 
    height: 25px; 
}
input:focus{
    outline: none;

}
.input{
   
   
    width: 50%;
    height: 100vw;
    background-color:#93E6A1;
    text-align: center;
    
}
.result{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


