
 @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

   
 *{
     box-sizing: border-box;
     margin: 0px;
     padding:0px;
     background-color:blueviolet}
 li,button{
     font-family: 'Sigmar One', cursive;
     color:black;
     font-size: 20px;
 }
 header{
     display: flex;
     justify-content:space-between;
     align-items:center;
     padding:0px 20px;
 }
 img,li,button{
     cursor: pointer;
 }
 .navigator li{
     display: inline-block;
     padding: 0px 20px;
 
 }
 .navigator li a{
     list-style: none;
     text-decoration: none;
 }
 
  
 button{
     background-color: rgb(87, 12, 87);
     color: whitesmoke;
     border: none;
     border-radius: 50px;
     padding: 0px 10px;
 }
 button:hover{
     background-color: violet;
     color: whitesmoke;
 }
 .navigator li a:visited{
     color:black;
  
 }
 .navigator li a:hover{
     color:red;
 }
 
 .navigator li:nth-child(3) a{
    color: red;
}
 