<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
    {% for news in blog %}
    <a href="read/{{news.id}}">
        <div class="news">
            <img src="{{news.file}}" alt="">
            <div class="date">
             <div class="when">
                <div class="date_day">{{news.day}}</div>
                <div class="month">{{news.month}}</div>
             </div>
                <div class="time">{{news.time}}</div>
            </div>
            <div class="title">{{news.title}}</div>
           
        </div>
    </a>
    {% endfor %}
    </div>
</body>
</html>