<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Admin Panel</h1><br>
    <ul>
        <li><a href="create_book">create book</a></li>
        <li><a href="show_books">show books</a></li>
        <li><a href="admin/books">admin/books</a></li>
    </ul>

</body>
</html>