<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/showbook.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
    {% for book in book %}

    <div class="cons"> 
        <p>Kitabın adı: {{book.ad}}</p>
        <p>Kitabın yazarı: {{book.yazici}}</p>
        <p>Kitabın Çap ili: {{book.il}}</p>
        <a href="single_book/{{book['id']}}">Kitabın məlumatların göstər<a>
    </div>

    {% endfor %}
</div>
</body>
</html>