@media only screen and (max-width:450px) {

    .loader{
        width: 80px;
        height: 80px;
    }
::-webkit-scrollbar{
    display: none;
}

.main{
    width: 100%;
    min-height: 100vh;
    border-radius:0px;
    margin:0px;
    padding:10px;
    position: relative;
    overflow-x: hidden;
    animation: normal;
    
}
header{
    position:fixed;
    width: 100%;
    height: 50px;
    padding:10px 15px 0px 10px;
    top: 0;
    right:0;
    background-color:#222222;
} 

.logo img{
    width: 140px;
    height: 50px;
}
.burger{
   display: block;
   width: 15px;
   height: 12px;
   margin-right: 3px;
   margin-bottom:7px;
}
.burger div{
    width: 14px;
    height: 2px;
    margin-top: 2px;
    
}
.burger:hover  div{
   background-color: rgba(218, 214, 231, 0.808) ;
}

.menu{
    
align-content:center;
width: 230px;
height:calc(100% - 50px);
top: 49px;
right: 0px;
background-color: #222222;
position:absolute;
transform: translateX(100%);
opacity: 0;
transition: 0.5s ease-in;
}
.active{
align-content:center;
width: 230px;
height:calc(100% - 50px);
top: 49px;
right: 0px;
background-color: #222222;
position:fixed;
transform: translateX(0%);
display: block;
opacity:1;


}
.menu ul{
display: flex;
flex-direction:column;
justify-content: space-around;
padding: 20px 0px 0px 15px;
height: 300px;
position:fixed;

}
.content{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300px;
        margin-top: 115px;
    }
    .text{
        padding-top: 25px;
        text-align: center;
        width: inherit;
        
    }
    .text p:nth-child(1){
        padding-right: 5px;
        font-size: 12.5px;
        
    }
    .text h1{
        font-size: 20px;
    }
    .text p:nth-child(3){
        font-size: 11px;
        width: 80%;
        margin: 0 auto;
       font-weight: normal;
       text-align: left;
       padding-left: 20px;
    }
    .picture{
        display: flex;
        justify-content: center;
        width: 200px;
        height:200px;
        padding:unset;
    }
    .picture:hover{
      transform: unset;
    }
    .picture img{
        border: 12px solid #444444c4;
        width: inherit;
        height:inherit;
    }
    .whatido{
        margin-bottom: 50px;
        display:flex;
        flex-direction: column;
        margin-bottom: 50px;
        
    }
    .whatidofront{
        width: 100%;
        margin-bottom: 30px;
    }
    .whatidoback{
        width: 100%;
    }
    .iconfront{
        margin-right: 5px;
    }
    .iconfront img{
        width: 28px;
        height: 25px;
        
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 14px;
    }
    .textfront p{
        font-size: 11px;
        font-weight: normal;
    }
    
    .footer{
        width: calc(100% + 30px);
        margin:0px 0px 0px -15px;  
        position: absolute;
        bottom: 0;
     
    }
    .footer li{
        font-size: 11px;
    }
    button.top-to{
        width: 45px;
        height: 45px;
    }

}




/* x small devices */

@media only screen and (min-width:450px) and (max-width:630px){
    .loader{
        width: 80px;
        height: 80px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
   
      .main{
        width: 100%;
        min-height: 100vh;
        border-radius:0px;
        margin:0px;
        padding:10px;
        position: relative;
        overflow-x: hidden;
        animation: normal;
        
    }
    header{
        position:fixed;
        width: 100%;
        height: 73.5px;
        padding:10px 10px 0px 10px;
        top: 0;
        right:0;
        background-color: #222222;
    } 
    .logo img{
        width: 180px;
        height: 60px;
    }
   .burger{
       display: block;
   }
   .burger:hover  div{
       background-color: rgba(218, 214, 231, 0.808);
   }
    
   .menu{
        
    align-content:center;
    width: 300px;
    height:calc(100% - 73.5px);
    top: 72.5px;
    right: 0px;
    background-color: #222222;
    position:absolute;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s ease-in;
}
.active{
    align-content:center;
    width: 300px;
    height:calc(100% - 73.5px);
    top: 72.5px;
    right: 0px;
    background-color: #222222;
    position:fixed;
    transform: translateX(0%);
    display: block;
    opacity:1;
   
}
.menu ul{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 20px 0px 0px 15px;
    height: 300px;
    position:fixed;
    
}
    .content{
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 600px;
            margin-top: 70px;
        }
        .text{
            padding-top: 25px;
            text-align: center;
            width: inherit;
            
        }
        .text p:nth-child(1){
            font-size: 18px;
        }
        .text h1{
            font-size: 35px;
        }
        .text p:nth-child(3){
            font-size: 13px;
        }
        .picture{
            display: flex;
            justify-content: center;
            width: 350px;
            height:350px;
            padding:unset;
        }
        .picture:hover{
          transform: unset;
        }
        .picture img{
            
            width: inherit;
            height:inherit;
        }
        .whatido{
            margin-bottom: 50px;
        }
        .iconfront{
            margin-right: 10px;
        }
        .iconfront img{
            width: 33px;
            height: 30px;
            
        }
        h2{
            font-size: 22px;
        }
        h3{
            font-size: 17px;
        }
        .textfront p{
            font-size: 12.5px;
        }
        
        .footer{
            width: calc(100% + 30px);
            margin:0px 0px 0px -15px;  
            position: absolute;
            bottom: 0;
         
        }
        .footer li{
            font-size: 14px;
        }
        button.top-to{
            width: 50px;
            height: 50px;
        }
    
    }
    /* small devices */
    @media only screen and (min-width:630px) and (max-width:800px){
        .loader{
            width: 80px;
            height: 80px;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .main{
            width: 100%;
            min-height: 100vh;
            border-radius:0px;
            margin:0px;
            padding:15px;
            position: relative;
            overflow-x: hidden;
            animation: normal;
            
        }
        header{
            position:fixed;
            width: 100%;
            height: 73.5px;
            padding:10px 10px 0px 10px;
            top: 0;
            right:0;
            background-color: #222222;
        } 
       .burger{
           display: block;
       }
       .burger:hover  div{
           background-color: rgba(218, 214, 231, 0.808) ;
       }
        
       .menu{
            
        align-content:center;
        width: 300px;
        height:calc(100% - 73.5px);
        top: 73.5px;
        right: 0px;
        background-color: #222222;
        position:absolute;
        transform: translateX(100%);
        opacity: 0;
        transition: 0.5s ease-in;
    }
    .active{
        align-content:center;
        width: 300px;
        height:calc(100% - 73.5px);
        top: 73.5px;
        right: 0px;
        background-color: #222222;
        position:fixed;
        transform: translateX(0%);
        display: block;
        opacity:1;
       
    }
    .menu ul{
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        padding: 20px 0px 0px 15px;
        height: 300px;
        position:fixed;
        
    }
      
    .whatido{
        margin-bottom: 60px;
    }
    
    .content{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 700px;
        margin-top: 60px;
    }
    .text{
        padding-top: 23px;
        text-align: center;
        width:inherit;
    }
    .picture:hover{
     transform: unset;
    }
    .picture{
        display: flex;
        justify-content: center;
        width: 400px;
        height:400px;
        padding:unset;
    }
    .picture img{
        
        width: inherit;
        height:inherit;
    }
    
    .footer{
        width: calc(100% + 30px);
        margin:0px 0px 0px -15px;  
        position: absolute;
        bottom: 0; 
    }
        
} 
    
    /* medium devices */
    @media only screen and (min-width:800px) and (max-width:992px){
        .loader{
            width: 80px;
            height: 80px;
        }
       
        ::-webkit-scrollbar{
            display: none;
        }
        .main{
            width: 100%;
            min-height: 100vh;
            border-radius:0px;
            margin:0px;
            padding:15px;
            position: relative;
            overflow-x: hidden;
            animation: normal;
        }
       header{
           position:fixed;
           width: 100%;
           height: 73.5px;
           padding:10px 10px 0px 10px;
           top: 0;
           right:0;
           background-color: #222222;
           
           
       }
       .burger{
           display: block;
       }
        
       .burger:hover  div{
        background-color: rgba(218, 214, 231, 0.808) ;
    }
        .menu{
            
            align-content:center;
            width: 300px;
            height:calc(100% - 73.5px);
            top: 73.5px;
            right: 0px;
            background-color: #222222;
            position:absolute;
            transform: translateX(100%);
            opacity: 0;
            transition: 0.5s ease-in;
        }
        .active{
            align-content:center;
            width: 300px;
            height:calc(100% - 73.5px);
            top: 73.5px;
            right: 0px;
            background-color: #222222;
            position:fixed;
            transform: translateX(0%);
            display: block;
            opacity:1;
           
        }
        .menu ul{
            display: flex;
            flex-direction:column;
            justify-content: space-around;
            padding: 20px 0px 0px 15px;
            height: 300px;
            position:fixed;
           
        }
       .content{
           margin-top: 80px;
       }
        .picture{
            width:300px;
           height:300px;
        }
        .picture:hover{
            transform: unset;
        }
        .picture img{
            border-radius:50%;
            width:inherit;
            height:inherit;
            border: 18px solid #444444c4;}
            
        .text{
            width: 55%;
        }
        .whatido{
            margin-bottom: 40px;
        }
        .footer{
            width: calc(100% + 30px);
            margin:0px 0px 0px -15px;
            height: 40px;
            position: absolute;
            bottom: 0;
        }
        
    }
    /* medium devices */
    /* large devices */
    @media only screen and (min-width:993px) and (max-width: 1102px) {
        .main{
            width: 94%;
            margin: 3% auto;
        }
        .content{
            display: flex;
            justify-content: space-around;
        }
    
        .picture{
        width:350px;
        
        
        }
        .picture img{
            border-radius:50%;
            width:inherit ;
            height:inherit ;
            border: 18px solid #444444c4;
            
        }
            
        .text{
            width: 52%;
        }
    
    }
    /* large devices */

    @media only screen and (min-width:1274px){
        .main{
            max-width: 1197px;
        }
    }