
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: rgb(74, 97, 202);
    font-family: 'Hammersmith One', sans-serif;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    
}

.main{
    width: 94%;
    background-color:#222222;
    border-radius: 35px;
    margin:3% auto;
    padding: 40px 70px 60px 70px;
      
    
}
.education-head{
    width:calc(100% + 140px);
    color:white;
    height:183px;
    padding: 65px 65px;
    border-bottom: 1px solid rgba(167, 164, 175, 0.747);
    border-top:1px solid rgba(167, 164, 175, 0.747);
    margin-left:-70px
}
/* ------------------------------- */
h2{
    color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    
}

h2 img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-left: 2%;
}
h3{
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
.star{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.star_1{
    width: 46%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#2b2929 ;
    padding: 15px 0px;
    margin: 2%;
    border-radius: 40px;

}
.star_1 img{
    width: 350px;
    height: 200px;
    border-radius: 40px;
    object-fit:cover;
    cursor: pointer;
}
.star_1 img:hover{
   
    opacity: 0.7;
}
.star_1 h2{
    color:white
}


